@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #141519;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Overpass", sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    line-height: 170%;
}

.container__rating {
    max-width: 412px;
    height: 412px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    background-color: #1E252F;
    color: white;
    border-radius: 30px;
}

.icon {
    background-color: #262F38;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

button {
    font-family: inherit;
    font-size: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #262F38;
    color: #959eac;
    font-weight: 500;
    cursor: pointer;
}

.buttons button:hover {
    background: hsl(25, 97%, 53%);
    color: #262F38;
}

button.active {
    background-color: #fff;
    color: #262F38;
}

.submit button {
    width: 100%;
    height: 46px;
    border-radius: 25px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.submit button:hover {
    background-color: #fff;
}

.back {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.score p {
    background-color: #262F38;
    color: hsl(25, 97%, 53%);
    padding: 5px 15px;
    height: 32px;
    border-radius: 16px;
}